#bem-vindo{
    display: flex;
    width: 100%;
    padding: 5% 20px;
}

h1{
    color: rgb(59, 59, 59);
}

.flex-content-centered-align{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}