*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto, Helvetica, sans-serif;
  background: #fafafa;
  color: #333;
}

.wrapper-header{
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.colored-tematic{
  background: #d6d6d6;
}

.msg-icone {
  position: absolute;
  top: 10px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0;
}

.shake{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.msg-icone.success span{
  background: #55b237;
  padding: 20px 40px;
  border-radius: 10px;
}

.msg-icone.error span{
  background: #c40000;
  padding: 20px 40px;
  border-radius: 10px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}